
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    restart: unless-stopped
#   mongo:
#     image: mongo:6
#     ports:
#       - 27017:27017
#     volumes:
#       - mongo_data:/data/db

# volumes:
#   mongo_data: